<!--Rest och grundstil-->
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

<!--Header-->

header{
    background-color: #0b0b0b;
    padding: 0 40px;
    border-bottom: 1px solid #2a2a2a;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-inner{
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display:flex;
    align-items: baseline;
    gap: 2px;
}
.logo-text{
    font-size: 28px;
    font-weight: 900;
    color: white;
    text-transform: lowercase;
    letter-spacing: -1px;
}
.logo-sub{
    font-size: 14px;
    color: #e30613;
    font-weight: 700;
    text-transform: lowercase;
}
.header-nav{
    display: flex;
    gap: 30px;
}
.header-nav a{
    color: #ccc;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s;;
}
.header-nav a:hover{
    color: white;
}
.header-icons{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
}
.header-icons i:hover{
    color: white;
}

<!--Main-->
main{
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
main h2{
    font-size: 20px;
    margin: 20px;
    font-weight: 700;
}

/*Live now(CARDS)*/
.channel-cards{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.channel-card{
    width: 180px;
    cursor: pointer;
    transition: 0.2s;
}
.channel-card:hover{
    transform: scale(1.05);
}
.card-thumb{
    position: relative;
    height: 105px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #2a2a2a;
}
.card-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
}
.card-play{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}
.card-channel{
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}
.card-title{
    font-size: 14px;
}

/*Schedule*/
.schedule{
    margin-top: 40px;
}
.program{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.time{
    width: 60px;
    color: #aaa;
}
.prog-title{
    font-weight: bold;
}
.prog-sub{
    font-size: 13px;
    color: #bbb;
}

/*Footer*/
footer {
    background-color: #0b0b0b;
    color: white;
    padding: 40px;
    font-family: Arial, sans-serif;
}

/*Top Del*/
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Fix: rätt klass*/
.footer-top-logo h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.footer-top-logo p {
    color: #ccc;
    font-size: 14px;
}

/* Kolummner*/
.footer-columns{
    display:flex;
    gap: 40px;
}

.col a {
    display: block;
    margin-bottom: 10px;
    text-decoration:none;
    color: white;
}

.col a:hover{
    text-decoration: underline;
}
/*Bottom*/
.footer-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*Buttons*/
.footer-buttons{
    display: flex;
    gap:10px;
}

/*Knappar*/
.footer-buttons button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.footer-buttons button:hover{
    background-color: #444;
}

/*Responsiv*/
@media (max-width: 768px){
    .footer-top{
        flex-direction: column;
        gap: 20px;
    }
    
    .footer-columns{
        flex-direction: column;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

}