* {
    margin: 0;
}

body {

    background-color: #141414;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    gap: 15px;
    position: sticky;
    background: black;
    top: 0;
    z-index: 100;

}
.header-nav{
    display: flex;
    gap:5px;
    flex: 1;
}

.header-right{
    margin-left:auto;
    display: flex;
    gap:5px;
}

.hamburger{
    display: none;
    background:black;
    border:none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
}

.logo-btn{
    padding: 0;
}


.tv-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.btn {
    display: inline-flex;
    background: rgb(0, 0, 0);
    color: rgb(251, 250, 250);
    border: none;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
    align-items: center;


}

.SvtPicture {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

}


main {
    padding: 1rem;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    font-size: 40px;
    padding: 1rem;
}

/*Live now(CARDS)*/
.channel-cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.channel-card {
    width: 180px;
    cursor: pointer;
    transition: 0.2s;
}

.channel-card:hover {
    transform: scale(1.05);
}

.card-thumb {
    position: relative;
    height: 105px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #2a2a2a;
}

.card-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
}

.card-play {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.card-channel {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}

.card-title {
    font-size: 14px;
}

/*Schedule*/
.schedule {
    margin-top: 40px;
}

.program {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.time {
    width: 60px;
    color: #aaa;
}

.prog-title {
    font-weight: bold;
}

.prog-sub {
    font-size: 13px;
    color: #bbb;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Footer*/
footer {
    background-color: #0b0b0b;
    color: white;
    padding: 40px;
    font-family: Arial, sans-serif;
}

/*Top Del*/
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Fix: rätt klass*/
.footer-top-logo h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.footer-top-logo p {
    color: #ccc;
    font-size: 14px;
}

/* Kolummner*/
.footer-columns {
    display: flex;
    gap: 40px;
}

.col a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.col a:hover {
    text-decoration: underline;
}

/*Bottom*/
.footer-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*Buttons*/
.footer-buttons {
    display: flex;
    gap: 10px;
}

/*Knappar*/
.footer-buttons button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.footer-buttons button:hover {
    background-color: #444;
}

/*Responsiv*/
@media (max-width: 768px) {
    
    /*--nytt för header--*/
    .hamburger{
        display: block;
    }

    .logo-btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-nav{
        display: none;
    }

    .header-nav-open{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: black;
        padding: 10px 20px;
        z-index: 200;
    }

    .logga-in-text {
    display: none;
    }

    
    .channel-cards{
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .channel-cards::-webkit-scrollbar{
        display: none;
    }

    .footer-top {
        flex-direction: column;
        gap: 20px;
    }

    .footer-columns {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

}